#portfolio.portfolio
    h2.portfolio-title Featured Creations
    .creation-teasers#creation-teasers
        each creation, index in htmlWebpackPlugin.options.creationsFeatured
            .teaser(data-modal=id=`creation-modal-${index}`)
                .teaser-image(style=`background-image: url(${creation.jpg})` title= "Brenton Cozby's " + creation.title)
                    .teaser-overlay
                        .plus +
                h3.teaser-title= creation.title
    each creation, index in htmlWebpackPlugin.options.creationsFeatured
        .creation-modal(id=`creation-modal-${index}`)
            .creation-modal-close
                span.line1
                span.line2
            h3.creation-modal-title= creation.title
            .creation-modal-details
                .creation-modal-image(style=`background-image: url(${creation.gif || creation.jpg})` title= "Brenton Cozby's " + creation.title)
                p.creation-description= creation.description
                h3.tools-title Tools
                ul.tools
                    each tool in creation.tools
                        li= tool
                .creation-modal-buttons
                    a(href= creation.demo, title= "Brenton Cozby's " + creation.title, target="_blank", rel="noopener") #[.creation-demo View Live]
                    a(href= creation.code, title= "Brenton Cozby's " + creation.title, target="_blank", rel="noopener") #[.creation-code View Code]
                button.close-btn x&nbsp;&nbsp;close project
