<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include(`${partials}/head`, {pageTitle: 'Portfolio'}); -%>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <noscript>
        <h3>Please enable JavaScript in order to view this site properly.</h3>
    </noscript>

    <%- include(`${partials}/contact`); -%>
    <%- include(`${partials}/nav`); -%>

    <div id="portfolio" class="portfolio">
        <h2 class="portfolio-title">Portfolio</h2>

        <div id="project-teasers" class="project-teasers">
            <% softwarePortolfio.forEach((project, index) => { %>
            <div class="teaser split-2">
                <div class="split-box">
                    <img class="teaser-image" src="<%= project.jpg || project.png %>" title="Brenton Cozby's <%= project.title %>" alt="Brenton Cozby's <%= project.title %>">
                </div>
                <div class="split-box">
                    <h3 class="teaser-title"><%= project.title %></h3>
                    <ul class="tools">
                        <% project.tools.forEach((tool) => { %>
                        <li><%= tool %></li>
                        <% }) %>
                    </ul>
                    <p class="description"><%= project.description -%></p>
                    <a href="projects/<%= project.slug %>.html" class="learn-more-button">Learn More</a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

    <div id="timeline" class="timeline">
        <div class="content">
            <div class="timeline-title">Timeline</div>
            <div class="item">
                <div class="date">1992</div>
                <div class="caption">Born in Maryland</div>
            </div>
            <div class="item">
                <div class="date">1997</div>
                <div class="caption">Got my first crush</div>
            </div>
            <div class="item">
                <div class="date">1999</div>
                <div class="caption">Got my first computer</div>
            </div>
            <div class="item">
                <div class="date">2000</div>
                <div class="caption">Joined baseball and soccer teams</div>
            </div>
            <div class="item">
                <div class="date">2001</div>
                <div class="caption">Began learning the saxophone</div>
            </div>
            <div class="item">
                <div class="date">2007</div>
                <div class="caption">Too shy to dance with homecoming date</div>
            </div>
            <div class="item">
                <div class="date">2008</div>
                <div class="caption">First girlfriend</div>
            </div>
            <div class="item">
                <div class="date">2010</div>
                <div class="caption">Graduated High School</div>
            </div>
            <div class="item">
                <div class="date">2010</div>
                <div class="caption">Began College at the University of Miami (UM)</div>
            </div>
            <div class="item">
                <div class="date">2014</div>
                <div class="caption">Earned B.A. in Psychology from UM</div>
            </div>
            <div class="item">
                <div class="date">2014</div>
                <div class="caption">Began City Year (an AmeriCorps volunteer program) in Miami</div>
            </div>
            <div class="item">
                <div class="date">2016</div>
                <div class="caption">Began learning how to code with free/cheap online courses</div>
            </div>
            <div class="item">
                <div class="date">2017</div>
                <div class="caption">Got my first client as a Web Developer (Myocortex.com)</div>
            </div>
            <div class="item">
                <div class="date">2018</div>
                <div class="caption">Got my first full-time job as a Software Developer (First Data)</div>
            </div>
        </div>
    </div>

    <div class="images-container">
        <% const imageUrls = Object.keys(imagesOfMe) %>
        <% imageUrls.forEach(url => { %>
        <figure>
            <img class="image" src="<%= url %>" title="<%= imagesOfMe[url] %>" alt="<%= imagesOfMe[url] %>">
            <div class="image-overlay"></div>
            <figcaption><%= imagesOfMe[url].split('Brenton Cozby ')[1] %></figcaption>
        </figure>
        <% }) %>
    </div>

    <%- include(`${partials}/footer`); -%>
    <%- include(`${partials}/scripts`); -%>
</body>
</html>
